* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 30px;
}

.clockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 500px;
    padding: 20px;
}